<p id="notice"><%= notice %></p>

<h1>Listing Infoleys</h1>

<table>
  <thead>
    <tr>
      <th>Numero ley</th>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Exp simpl</th>
      <th>Cont ley</th>
      <th>Proy ley</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infoleys.each do |infoley| %>
      <tr>
        <td><%= infoley.numero_ley %></td>
        <td><%= infoley.fecha %></td>
        <td><%= infoley.tipo %></td>
        <td><%= infoley.exp_simpl %></td>
        <td><%= infoley.cont_ley %></td>
        <td><%= infoley.proy_ley %></td>
        <td><%= link_to 'Show', infoley %></td>
        <td><%= link_to 'Edit', edit_infoley_path(infoley) %></td>
        <td><%= link_to 'Destroy', infoley, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infoley', new_infoley_path %>
