<p id="notice"><%= notice %></p>

<p>
  <strong>Numero ley:</strong>
  <%= @infoley.numero_ley %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @infoley.fecha %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @infoley.tipo %>
</p>

<p>
  <strong>Exp simpl:</strong>
  <%= @infoley.exp_simpl %>
</p>

<p>
  <strong>Cont ley:</strong>
  <%= @infoley.cont_ley %>
</p>

<p>
  <strong>Proy ley:</strong>
  <%= @infoley.proy_ley %>
</p>

<%= link_to 'Edit', edit_infoley_path(@infoley) %> |
<%= link_to 'Back', infoleys_path %>
