<li id="micropost-<%= micropost.id %>">
  Número de la ley:  <%= micropost.num %>
  
  
  
  <br><span class="content"><%= micropost.nombre %></span>
  
  
  
  <span class="content"><%= micropost.content %></span>
  <br><span class="timestamp">
    Posteado: <%= time_ago_in_words(micropost.created_at) %> ago.
  </span></br>
</li>

